
.body{
	font-family: 'Open Sans', sans-serif;
}

.tp-bullets{
	top:130%!important;
}

.pull-left{
	margin-left:10px;
}

.pull-right{
	margin-right:10px;
}

.first-top-bar-hr{
	margin-bottom:5px;
	width:80%;
}

.second-top-bar-hr{
	margin-bottom:10px;
	margin-top:0;
}

.upb_row_bg{
	background-color:white!important;
}

.admin{
	margin-top: 100px;
	margin-bottom: 100px;
}

.odd{
	background: aliceblue;
}

td{
	padding: 10px!important;
}

.thumb-image{
	max-width: 200px;
	margin-top: 10px;
}

.deleteButton{
	width: 30px;
}

#header-background{
	width: 100%;
	position: absolute;
}

.transparent{
	background: rgba(0,0,0,0.4)!important;
}

.navbar-inverse{
	border: none;
}

.float-right{
	float: right;
}

#logo{
	max-width: 55%;
	position: absolute;
	margin-left: 44px;
}

.highlight{
	position: absolute;
	top: 32px;
	left: 6px;
}

.phrase{
	color: white;
	position: relative;
	text-align: center;
	margin-top: 7%;
	letter-spacing: 4px;
}

.phrase h1{
	font-size: 55px;
	font-family: "UVNSaigon_R", Fallback, sans-serif;
}

.phrase h3{
	font-size: 13px;
	font-family: "Roboto-Light", Fallback, sans-serif;
}

.phrase a{
	font-family: "Roboto-Regular", Fallback, sans-serif;
    width: 10%;
    display: inline-block;
    font-size: 10px;
	padding: 10px;
	border-radius: 0;
	color:white
}

#book-button{
	background-color: #cb703b;
	border: none;
}

#book-button:hover,#menu-button:hover{
	color: white;
	-moz-box-shadow: 0 0 10px #fff;
	-webkit-box-shadow: 0 0 10px #fff;
	box-shadow: 0px 0px 10px #fff;
}

#menu-button{
	background: none;
}

.btn-block + .btn-block{
    margin-top: 0!important;
}

.head-button{
	margin-top: 2%;
}

.top-menu a{
	font-family: "Roboto-Regular", Fallback, sans-serif;
	font-weight: 200;
	color:white;
}

.top-menu a:hover{
	text-shadow: 1px 1px 12px white;
}